

/*页面整体色彩*/
/*.ui-page
{
    background: white;
    outline: none;
}*/


/*     
     .ui-bar-f {

background-color:	rgb(217,166,69);


color:rgb(217,166,69);  





color:black;


background-color:rgba(214,166,69,1)
         
} */
          



/*列表渲染颜色*/
/*.ui-block-a, 
.ui-block-b, 
.ui-block-c 
{
background-color: white;
border: 1px solid black;
height: 30px;
font-weight: bold;
text-align: center;
padding: 5px;
}*/



/*.ui-mobile-viewport .gg
{
    background-color:red;
    color:black;
}*/