

/*页面整体色彩*/
.ui-page
{
    background: white;
    outline: none;
}


.ui-bar-f {
padding: 10px 10px;
background-color:	black;

border-bottom: 2px solid 	#e2e2e2;
color: black;    /*页面主内容下分割线*/


background:transparent;/*<!--背景透明-->*/ 

color:rgba(85,85,85,1); /*<!--字体颜色-->*/ 

background-color:rgba(217,217,217,1)
          /*最后一个参数设置透明度，前面三个是RGB颜色值*/
}



/*列表渲染颜色*/
.ui-block-a, 
.ui-block-b, 
.ui-block-c 
{
background-color: white;
border: 1px solid black;
height: 30px;
font-weight: bold;
text-align: center;
padding: 5px;
}



/*.ui-mobile-viewport .gg
{
    background-color:red;
    color:black;
}*/